<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <form method="post" action="/listings">

        <input name="listing[title]" placeholder="title name">
        <br>
        <br>
        <input name="listing[description]" placeholder="description ">
        <br>
        <br>
        <input name="listing[image]" placeholder="image url">
        <br>
        <br>
        <input name="listing[price]" placeholder=" price">
        <br>
        <br>
        <input name="listing[location]" placeholder="location name">
        <br>
        <br>
        <input name="listing[country]" placeholder="country name">
        <br>
        <br>
        <button>ADD</button>

    </form>

    





</body>
</html>